mixin build-with-love()
  figure
    img(src=require("./images/built-with-love.svg").default,  alt="Build with love")
    figcaption Build with love


mixin made-with-pug()
  figure
    img(src=require("./images/made-with-pug.svg").default,  alt="Made with pug")
    figcaFption Made with pug

mixin made-with-javascript()
  figure
    img(src=require("./images/made-with-javascript.svg").default,  alt="Made with javascript")
    figcaption Made with javascript


mixin gluten-free()
  figure
    img(src=require("./images/gluten-free.svg").default,  alt="Gluten free")
    figcaption Gluten free

mixin makes-people-smile()
  figure
    img(src=require("./images/makes-people-smile.svg").default,  alt="Makes people smile")
    figcaption Makes people smile

mixin contains-cat-gifs()
  figure
    img(src=require("./images/contains-cat-gifs.svg").default,  alt="Contains cat gifs")
    figcaption Contains cat gifs


mixin uses-badges()
  figure
    img(src=require("./images/uses-badges.svg").default,  alt="Uses badges")
    figcaption Uses badges

mixin uses-css()
  figure
    img(src=require("./images/uses-css.svg").default,  alt="Uses CSS")
    figcaption Uses CSS

mixin uses-html()
  figure
    img(src=require("./images/uses-html.svg").default,  alt="Uses HTML")
    figcaption Uses html

mixin uses-js()
  figure
    img(src=require("./images/uses-js.svg").default,  alt="Uses JS")
    figcaption Uses JS


mixin validated-html5()
  figure
    img(src=require("./images/validated-html5.svg").default,  alt="Validated HTML5")
    figcaption Validated HTML5

mixin you-didnt-ask-for-this()
  figure
    img(src=require("./images/you-didnt-ask-for-this.svg").default,  alt="You didn't ask for this")
    figcaption You didn't ask for this
